@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    margin: 0;
    color: white;
    background: #232323;
    flex: auto;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    min-height: 33.3vh;
    padding: 100px 10vw;
}

.orange {
    background-color: orange;
    flex-direction: row;
    justify-content: space-between;
}

.black {
    background-color: black;
    align-items: center;
    padding-top: 11rem;
}

.socials ul {
    width: fit-content;
    text-align: center;
    display: flex;
    gap: 3rem;
    list-style: none;

}

.white {
    background-color: white;
    color: #232323;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 3rem;
}

.orange .heroine {
    font-size: 4rem;
    color: #232323;
    margin-bottom: 0%;
    width: fit-content;
}


.orange .gutche {
    font-size: 1.4rem;
    font-weight: 700;
    width: fit-content;
}

.white .bob {
    display: flex;
    background-color: #232323;
    border-radius: 50%;
    height: 11rem;
    height: 9rem;
    align-items: center;

}

.bob p {
    width: 8rem;
    color: #FFFFFF;
    padding-left: 1rem;
}

.white ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 9rem;
    margin: 0%;

}

.white ul button {
    font-size: 2rem;
    border-radius: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    padding: 0.6rem 1rem;
}

button:hover {
    cursor: pointer;
}

.about {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    color: black;
}

.skeel {
    background-color: white;
    border-color: black;
    transition-duration: 0.6s;
}

.skeel:hover {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: white;
}



.tide1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tide1 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 239px;
}

.tide1 .shape-fill {
    fill: orange;
}

.tide2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tide2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.tide2 .shape-fill {
    fill: #FFFFFF;
}